In [ ]:
from google.colab import files
  
  
uploaded = files.upload()

Saving mydata.csv to mydata.csv

In [ ]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import time
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

#%%

import nltk
nltk.download('stopwords')

#%%

# printing the stopwords in English
print(stopwords.words('english'))

ModuleNotFoundError: ignored

In [ ]:
data=pd.read_csv('mydata.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31428 entries, 0 to 31427
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       31428 non-null  int64
 1   title    31428 non-null  object
 2   text     31428 non-null  object
 3   subject  31428 non-null  object
 4   date     31428 non-null  object
 5   label    31428 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.4+ MB

In [ ]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31428 entries, 0 to 31427
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       31428 non-null  int64
 1   title    31428 non-null  object
 2   text     31428 non-null  object
 3   subject  31428 non-null  object
 4   date     31428 non-null  object
 5   label    31428 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.4+ MB

,Id,title,text,subject,date,label
0,13970,WATCH: Paul Manafort Gets DESTROYED On CNN Fo...,"Paul Manafort, the chair of Donald Trump s cam...",News,"August 14, 2016",1
1,41668,REFUGEE BUSINESS IS CASH COW FOR LUTHERAN CHAR...,How very charitable of the Lutheran and Cath...,left-news,"May 8, 2015",1
2,26810,Trump’s Excuse For All His Sexist Statements ...,In case you ve been living under a rock for yo...,News,"March 28, 2016",1
3,30967,'Jihadi Gran' gets 10 years after joining son ...,PARIS (Reuters) - A court on Friday sentenced ...,worldnews,"October 6, 2017",0
4,26072,New Czech government to seek confidence vote o...,PRAGUE (Reuters) - The Czech government will s...,worldnews,"December 13, 2017",0

In [ ]:
data.isnull().sum()

Id         0
title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [ ]:
data = data.fillna('')

In [ ]:
# merging the author name and news title
data['content'] = data['title']+' '+data['text']
data.head()

,Id,title,text,subject,date,label,content
0,13970,WATCH: Paul Manafort Gets DESTROYED On CNN Fo...,"Paul Manafort, the chair of Donald Trump s cam...",News,"August 14, 2016",1,WATCH: Paul Manafort Gets DESTROYED On CNN Fo...
1,41668,REFUGEE BUSINESS IS CASH COW FOR LUTHERAN CHAR...,How very charitable of the Lutheran and Cath...,left-news,"May 8, 2015",1,REFUGEE BUSINESS IS CASH COW FOR LUTHERAN CHAR...
2,26810,Trump’s Excuse For All His Sexist Statements ...,In case you ve been living under a rock for yo...,News,"March 28, 2016",1,Trump’s Excuse For All His Sexist Statements ...
3,30967,'Jihadi Gran' gets 10 years after joining son ...,PARIS (Reuters) - A court on Friday sentenced ...,worldnews,"October 6, 2017",0,'Jihadi Gran' gets 10 years after joining son ...
4,26072,New Czech government to seek confidence vote o...,PRAGUE (Reuters) - The Czech government will s...,worldnews,"December 13, 2017",0,New Czech government to seek confidence vote o...

In [ ]:
# separating the data & label
X = data.drop(columns='label', axis=1)
Y = data['label']
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31428 entries, 0 to 31427
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       31428 non-null  int64
 1   title    31428 non-null  object
 2   text     31428 non-null  object
 3   subject  31428 non-null  object
 4   date     31428 non-null  object
 5   content  31428 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.4+ MB

In [ ]:

port_stem = PorterStemmer()

def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [ ]:
data['content'] = data['content'].apply(stemming)

In [ ]:
print(data['content'])

0        watch paul manafort get destroy cnn defend tru...
1        refuge busi cash cow lutheran chariti mi state...
2        trump excus sexist statement prove realli want...
3        jihadi gran get year join son syria pari reute...
4        new czech govern seek confid vote januari pm p...
                               ...
31423    chicago trump ralli cancel radic blm came riot...
31424    trump support complet dakota access pipelin wa...
31425    obama stop win new job report show u economi s...
31426    turkey bank regul dismiss rumor iran sanction ...
31427    california mayor ask governor support highway ...
Name: content, Length: 31428, dtype: object

In [ ]:
#separating the data and label
X = data['content'].values
Y = data['label'].values

In [ ]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X)

X = vectorizer.transform(X)

In [ ]:
print(X)

  (0, 73873)	0.03704012775110979
  (0, 73358)	0.034113536835874106
  (0, 73343)	0.0948388824450349
  (0, 72623)	0.02570380199838393
  (0, 72426)	0.02713247280668061
  (0, 72342)	0.06011013558508187
  (0, 72297)	0.02534037198972406
  (0, 72182)	0.025176292094584347
  (0, 71217)	0.052582460463719644
  (0, 71150)	0.025877312949544783
  (0, 69670)	0.03929449422663743
  (0, 68532)	0.062016541813679556
  (0, 68251)	0.030598310775647366
  (0, 67935)	0.2781465711536559
  (0, 67911)	0.04291859503173464
  (0, 67690)	0.02820463184370455
  (0, 66341)	0.03826979530003977
  (0, 66215)	0.08983699026644595
  (0, 65059)	0.43435236492533325
  (0, 64852)	0.07296771668460617
  (0, 64147)	0.02423758715634041
  (0, 64012)	0.037404417620097365
  (0, 63894)	0.03774563002957741
  (0, 63795)	0.0676728494333641
  (0, 63406)	0.10699871135284517
  :	:
  (31427, 13577)	0.022779988644143996
  (31427, 13067)	0.0437172412759145
  (31427, 12911)	0.0320930080689558
  (31427, 12777)	0.09730372920914993
  (31427, 12730)	0.029640952834507912
  (31427, 10593)	0.10361700195600397
  (31427, 9801)	0.04137376474647086
  (31427, 9738)	0.05048817140976598
  (31427, 9582)	0.21216675534559606
  (31427, 9576)	0.03374845612574146
  (31427, 9470)	0.21993303658851834
  (31427, 8564)	0.1597336641485114
  (31427, 5943)	0.029740495549686163
  (31427, 5828)	0.07754918275749118
  (31427, 5762)	0.031395719113344454
  (31427, 5448)	0.06637896429756725
  (31427, 4212)	0.04700366542285358
  (31427, 4155)	0.06595899160075248
  (31427, 3678)	0.07891942510208387
  (31427, 3468)	0.04011069949298631
  (31427, 3270)	0.07451974546290598
  (31427, 1942)	0.02001552267710799
  (31427, 1895)	0.0371773921489615
  (31427, 1018)	0.032779331630306635
  (31427, 261)	0.037095546527211615

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
knn = KNeighborsClassifier()

In [ ]:
start = time.time()
# define the parameter values that should be searched
# for python 2, k_range = range(1, 31)
k_range = list(range(1, 31))
print(k_range)

# create a parameter grid: map the parameter names to the values that should be searched
# simply a python dictionary
# key: parameter name
# value: list of values that should be searched for that parameter
# single key-value pair for param_grid
param_grid = dict(n_neighbors=k_range)
print(param_grid)
end = time.time()

print(end-start)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}
0.0025763511657714844

In [ ]:
# instantiate the grid
from sklearn.model_selection import GridSearchCV

grid = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy')

# fit the grid with data
grid.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                         23, 24, 25, 26, 27, 28, 29, 30]},
             scoring='accuracy')

In [ ]:
# Single best score achieved across all params (k)
print(grid.best_score_)

# Dictionary containing the parameters (k) used to generate that score
print(grid.best_params_)

# Actual model object fit with those best parameters
# Shows default parameters that we did not specify
print(grid.best_estimator_)

0.8709735856934764
{'n_neighbors': 29}
KNeighborsClassifier(n_neighbors=29)

In [ ]:
classifier =KNeighborsClassifier(n_neighbors=29)

In [ ]:
classifier.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=29)

In [ ]:
pred=classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.82      0.94      0.87      2990
           1       0.94      0.81      0.87      3296

    accuracy                           0.87      6286
   macro avg       0.88      0.87      0.87      6286
weighted avg       0.88      0.87      0.87      6286